# IDE Configuration Folder
.idea

# Backup files
*.bak

# WinDesign file
*.wdt

# Binary & compiled obj
bin
obj

# Python env & cache
venv
__pycache__
.py[cod]

# Environment variables
.env

# Nugget package
src/package