# IDE Configuration Folder
.idea

# Backup files
*.bak

# WinDesign file
*.wdt

# Compiled obj
obj

# Python env & cache
venv
__pycache__
.py[cod]

# Environment variables
.env

# Nugget packages
src/packages